<nav>
    <a id="linkServicio" routerLink="./" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Servicio</a>

    <!-- <a *ngIf="experienciaValida" id="linkRegistrarServicio" routerLink="./registrar" routerLinkActive="active">Registrar Servicio</a>
    <a id="linkReservarServicio" routerLink="./reservar" routerLinkActive="active">Reservar Servicio</a>
    <a id="linkCalificarServicio" routerLink="./calificar" routerLinkActive="active">Calificar Servicio</a> -->
</nav>
<router-outlet></router-outlet>