<nav>
    <a class="btn btn-light" id="linkServicio" routerLink="./" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Servicio</a>

    <a class="btn btn-light" *ngIf="experienciaValida" id="linkRegistrarServicio" routerLink="./registrar" routerLinkActive="active">Registrar Servicio</a>
    <a class="btn btn-light" id="linkReservarServicio" routerLink="./reservar" routerLinkActive="active">Reservar Servicio</a>
    <a class="btn btn-light" id="linkCalificarServicio" routerLink="./calificar" routerLinkActive="active">Calificar Servicio</a> 
</nav>
<router-outlet></router-outlet>