<div class="logo-and-search centrado">
    <div class="logo-hero centrado">
        <img width="158" height="158" alt="Logo Servbees" src="assets/images/logo.png" />
        <p class="logohero-title">{{'Servbees' | uppercase}}</p>
    </div>
    <div>
        <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}
        </ngb-alert>
        
    </div>
    <div class="centrado login-box">
        <p>
            <button (click)="ingresarValido()" class="btn btn-primary mr-10">Con experiencia</button>
        </p>
        <div class="width-20"></div>
        <p>
            <button (click)="ingresarInvalido()" class="btn btn-primary">Sin experiencia</button>
        </p>
    </div>
</div>