<div class="card text-center">
    <div class="card-header">
        Registrar Servicio
    </div>
    <div class="card-body">
        <h5 class="card-title">Selecciona un servicio</h5>
        <form [formGroup]="servicioForm" (ngSubmit)="registrar()">
            <div class="mb-3 row justify-content-md-center">
                <div class="col-6 col-md-4">.</div>
                <div class="col-6 col-md-4">
                    <select class="form-select form-control" aria-label="Default select example" id="idCategoria"
                        formControlName="idCategoria" name="idCategoria">
                        <option value="-1" selected>No se ha seleccionado un servicio</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-6 col-md-4"></div>

            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        <div class="centrado">
            <button (click)="registrar()" class="btn btn-primary">Registrar</button>
        </div>
    </div>
</div>