<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Empleado</th>
      <th scope="col">Servicio</th>
      <th scope="col">Costo final</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let miReserva of todasMisReservas; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ miReserva.nombreUsuario }}
      </td>
      <td>{{ miReserva.nombreCategoria }}</td>
      <td>{{miReserva.costo * miReserva.cantidad | currency}}</td>
      <td><button (click)="open(content)" class="btn btn-primary">Calificar</button></td>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Te ha gustado el servicio? </h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form class="d-flex flex-column">
            <div class="mb-3 estrellas justify-content-center">
              <ngb-rating [(rate)]="currentRate" ></ngb-rating>
            </div>
            <p>{{currentRate | valorServicio}}</p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close(miReserva)">Guardar</button>
        </div>
      </ng-template>

    </tr>
  </tbody>
</table>
